.categories {
  margin: 2em 3em 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;

  .list {
    border: 2px solid #123;
    border-radius: 4px;

    h3 {
      text-align: center;
    }

    &.profits {
      border-color: green;
    }

    &.expenses {
      border-color: red;
    }

    .item {
      display: flex;
    }

  }
}