.main-container {
  .current-wallet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 0;

    .wallets-list {
      width: 10%;
      padding: 5px 0;
      align-self: flex-end;

      .item {
      }
    }
  }

}