.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo-block {
    display: flex;
    align-items: center;
    width: 30%;

    .logo {
      margin-right: 20px;
      max-width: 100%;
      width: 10%;
      height: auto;
    }

    span {
      font-size: 20px;
    }
  }

  .selected {
    background: rgba(0, 0, 0, 0.1);
  }
}

